/JavaApplication7/nbproject/private/
/nbproject/private/
/.settings/
/dist/
/build/
/Vanish/nbproject/private/
/VanishNoPacket/nbproject/private/
/VanishNoPacket/dist/
/VanishNoPacket/build/
/EnderPearlDisable/nbproject/private/
/GameModeCheck/nbproject/private/
/EasyBan/nbproject/private/